.btn {
  padding: 16px;
  background-color: $primary-btn;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    background-color: $dark-gray;
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.container {
  margin: auto;
  max-width: 1140px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
