$off-white: #f6f8f9;
$gray: #d8d8d8;
$dark-gray: #7c7c7c;
$light-gray: #EBEBEB;
$black: #2c2e30;
$blue: #37a8ee;
$green: #00dca4;
$yellow: #f1c40f;

$primary-btn: $blue;
$secondary-btn: $green;

$header-height: 80px;
$container-max-width: 1140px;

$mobile-break: 859px;

@mixin column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
