$off-white: #f6f8f9;
$gray: #d8d8d8;
$dark-gray: #7c7c7c;
$light-gray: #F6F8F9;
$black: #2c2e30;
$blue: #37a8ee;
$green: #00dca4;
$yellow: #f1c40f;

$primary-btn: $blue;
$seconday-btn: $green;

$header-height: 80px;
$container-max-width: 1140px;