@font-face {
  font-family: 'Glacial Indifference';
  src: url('./fonts/glacialindifference-regular-webfont.ttf') format('ttf'),
    url('./fonts/glacialindifference-regular-webfont.woff') format('woff'),
    url('./fonts/glacialindifference-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('./fonts/glacialindifference-bold-webfont.ttf') format('ttf'),
    url('./fonts/glacialindifference-bold-webfont.woff') format('woff'),
    url('./fonts/glacialindifference-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('./fonts/glacialindifference-italic-webfont.ttf') format('ttf'),
    url('./fonts/glacialindifference-italic-webfont.woff') format('woff'),
    url('./fonts/glacialindifference-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Glacial Indifference", Verdana, sans-serif;
}

button {
  font-family: "Glacial Indifference", Verdana, sans-serif;
}
